@model juegoPreguntas.Preguntas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Detalles de la pregunta</h4>
    <hr />

    <p>
        <a href="@Url.Action("index", "Preguntas")" title="Atras" style="font-size:25px ; color:black">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </a>
    </p>


    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.idPregunta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idPregunta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enunciado)
        </dt>

        <dd >
            @Html.DisplayFor(model => model.enunciado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correcta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correcta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incorrecta1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incorrecta1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incorrecta2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incorrecta2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incorrecta3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incorrecta3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

    </dl>
</div>
