@model juegoPreguntas.Partida

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Partida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreJugador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreJugador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntuacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntuacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPartida }) |
    @Html.ActionLink("Back to List", "Index")
</p>
