@model IEnumerable<juegoPreguntas.Partida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historico de partidas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPartida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreJugador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puntuacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resultado)
        </th>
        <th align="center">
            Acciones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreJugador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resultado)
            </td>
            <td>

                <a style="font-size:25px; color:blue" href="@Url.Action("Details", "partidas", new { id = item.idPartida })" title="Detalles">
                    <i class="fa-solid fa-circle-info"> </i>
                </a>
            </td>
        </tr>
    }

</table>
