
@model IEnumerable<juegoPreguntas.Models.Informacion>


@{
    ViewBag.Title = "validacionRespuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var info = Model.ToList()[0];
    var correcta = info.compararRespuestas();
    var puntaje = info.calcularPuntaje();


    var nuevoNivel = info.getNivel() + 1;

    var maximo = juegoPreguntas.Controllers.PartidasController.MAXIMONIVEL;



}




@if (nuevoNivel > maximo)
{
    <div class="jumbotron" style="margin-top:25px">
        <CENTER>
            <h1>Felicidades eres el GANADOR</h1>
            <div style="margin-top:25px">
                <h3>tu puntuacion acumulada es:</h3>
                <h3 style="color:red">@puntaje</h3>
            </div>
        </CENTER>


        <CENTER style="margin-top:100px">
            <p class="lead">respondiste todas las preguntas de manera correcta, ganaste el premio final.</p>
            <a class="btn btn-primary" style="background-color:lightblue; color:black " href="@Url.Action("vistaFinal","Partidas",new { puntajeEstado = (nuevoNivel - 1)+"/"+puntaje+"/GANADOR"  })" role="button">CONTINUAR</a>
        </CENTER>

    </div>
}
else
{


    if (correcta == true)
    {
        <div class="jumbotron" style="margin-top:25px">




            <CENTER>
                <h1>Felicidades la respuesta es correcta</h1>
                <div style="margin-top:25px">
                    <h3>tu puntuacion acumulada es:</h3>
                    <h3 style="color:red">@puntaje</h3>
                </div>
            </CENTER>


            <CENTER style="margin-top:100px">
                <p class="lead">Puedes retirarte o puedes seguir jugando.</p>
                <a class="btn btn-primary" style="background-color:lightblue ; color:black"  href="@Url.Action("lanzarPregunta","Partidas",new { categoriaNivel = nuevoNivel })" role="button">CONTINUAR</a>
                <a class="btn btn-primary" style="background-color:lightcoral ; color:black"  href="@Url.Action("vistaFinal","Partidas",new {puntajeEstado = (nuevoNivel - 1)+"/"+puntaje+"/RETIRADO"  })" role="button">RETIRARSE</a>

            </CENTER>


        </div>
    }
    else
    {
        <div class="jumbotron" style="margin-top:25px">
       

            <CENTER>
                <h1>Lo sentimos la respuesta es incorrecta</h1>
                <div style="margin-top:25px">
                    <h3>tu acumulado final es:</h3>
                    <h3 style="color:red">0</h3>
                </div>
            </CENTER>


            <CENTER style="margin-top:100px">
                <p class="lead">respondiste de manera incorrecta pero puedes volver a jugar</p>
                <a class="btn btn-primary" style="background-color:lightblue; color:black" href="@Url.Action("vistaFinal","Partidas",new { puntajeEstado = (nuevoNivel - 1)+"/"+"0/PERDEDOR"  })" role="button">CONTINUAR</a>
            </CENTER>


        </div>
    }
}







